.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.medication {
    display: flex;
    flex-direction: column;
    width: 225px;
    gap: 10px;
}

.datetime {
    display: none;
}

.datetime.active {
    display: block;
}

.next-medication-since {
    margin-left: 5px;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history-detail {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 15px;
}